#### Python Basics following Udemy's "The Data Analyst Course: Complete Data Analyst Bootcamp"

Written by Sebastian Yepez

# Python Variables

Python is an interpretive language, so it can infer data types meaning that we don't have to specify the type as in other languages

In [1]:
x = 5 # command/program -> execute (shift + enter)

= means "assign" or "bind to" | read as "x gets 5"

In [2]:
x # output contents in x; Jupyter automatically does this

5

In [3]:
y = 8 # assign 8 to y

In [116]:
Y # ERROR, no such thing as "Y"

NameError: name 'Y' is not defined

#### Python is case sensitive; BE CAREFUL!

In [5]:
print(y)

8

In [6]:
x,y = (1,2) # assigns values to x and y accordingly

In [7]:
x

1

In [8]:
y

2

In [117]:
x,y = (1,2,3) # error too many values compared to variables

ValueError: too many values to unpack (expected 2)

### Python Variables - Exercise #1 & #2

Create a variable with name x and a value of 10. Execute.

Tell the computer to show you the value of that variable without utilizing the print() function, similar to what you would do in Jupyter.

Can you think of a second way to obtain the same result?

In [10]:
x = 10
print(x)
x # Recall: Jupyter's kernel outputs this

10

10

### Python Variables - Exercise #3 & #4

On the same line, create four new variables: a, b, c, and d, that are equal to 10, 20, 30, and 40, respectively.

Tell the computer to show you the value corresponding to the variable b.

Do the same for d.

In [11]:
a,b,c,d = (10,20,30,40)
print(b)
print(d)

20
40

### There are 98 exercises, so I'm only going to copy the ones that are hardest/most interesting and unique

# Numbers and Boolean

Integers: Positive or negative whole numbers - without a decimal point

In [12]:
x1 = 5
type(x1) # type(var) prints the type of the input

int

In [13]:
type(-6) # input does not need to be a variable

int

Floating Point: A real number with a decimal

In [14]:
x2 = 4.75
type(x2)

float

In [15]:
# int() transforms the input into an integer
x = 5.6
x = int(x)
print(x)
type(x)

5

int

In [16]:
# float() transforms the input into a decimal
float(3)

3.0

Boolean values: A "true" or "false" value | 1 or 0 | on or off

In [17]:
x3 = True # 'T' HAS to be capitalized
type(x3)

bool

### Numbers and Boolean Values - Exercise #4

Create a variable b equal to 99.

Turn b into a float.

Consider using the print() function as a tool to help you solve this exercise.

In [18]:
b = 99
b = float(b) # b = 99.0
print(b)

99.0

# Strings

Strings: Text values composed of a sequence of characters

In [19]:
# George # will result in an error
'George' # strings MUST have a single or double quote '' or ""
"George" # will be the same result as last line

'George'

In [20]:
print('George')
print("George")

George
George

In [21]:
name = 'George'
name

'George'

In [22]:
print(name)

George

In [118]:
# y - the number of dollars you have in your pocket
y = 10
print(y + "Dollars") # ILLEGAL

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
y = 10
print(str(y) + " Dollars")

10 Dollars

In [25]:
# Sometimes you have to use specific quotes or the "escape" character

str1 = "I'm fine"
str2 = 'I\'m fine'
str3 = 'Press "Enter"'
print(str1)
print(str2)
print(str3)

I'm fine
I'm fine
Press "Enter"

In [26]:
'Red' 'car' # outputs 'Redcar'

'Redcar'

In [27]:
'Red' + ' car' # outputs 'Red car'

'Red car'

In [28]:
print('Red', 'car') # , trailing comma - outputs Red Car

Red car

In [29]:
3, 5, 6.9, 7.0, 'car' # Jupyter Python kernal automatically outputs this list, but in parenthesis

(3, 5, 6.9, 7.0, 'car')

In [30]:
print(3, 5, 6.9, 7.0, 'car')

3 5 6.9 7.0 car

### Strings - Exercise #5

Include a plus sign in your line of code to produce 'Big Houses'.

Include a trailing comma in your line of code to produce Big Houses.

In [31]:
print("Big" + " Houses")
print('Big', 'Houses')

Big Houses
Big Houses

# Arithmetic Operators

In [32]:
1 + 2 # 1,2 are the operands
3 - 5 # 3,5 are the operands
# +,- are the arithmetic operators

-2

Arithmetic Operators:

Addition + | Subtraction - | Division / | Modulo % | Multiplication * | Exponent **

In [33]:
print(16 / 3) # automatically casted to floating point
print(16 % 3)
print(5 * 3)
print(5 ** 3)

5.333333333333333
1
15
125

# The Double Equality Sign

In [34]:
y = 5 ** 3
y # y has the value of 125

125

In [35]:
y == 126 # is y equal to 126? returns a boolean

False

== means "equals" | it is used for COMPARISON rather than assignment

# Reassigning Values

In [36]:
z = 1
z

1

In [37]:
z = 3
z

3

Reassigning Values means to assign a new value to a variable, overwriting the previous value

Some other ways to reassign values are to use the operators: ++, --. +=, -=, *=, \=, %=, **=
    
+= is the same as x = x + val (same goes for other arithmetic operators)

++ is the same as x += 1 (incrementing by 1)

-- is the same as x -= 1 (decrementing by 1)

In [38]:
x = 0 # x = 0
x += 2 # x = x + 2
x *= 4 # x = x * 4
x %= 3 # x = x % 3
print(x) # what will x be?

2

# Comments

Comments are sentences not executed by the computer
They begin with a "#" at the beginning of the line

In [39]:
# a comment
print (7,2) # actual line of code

7 2

# Line Continuation

In [40]:
2.0 * 1.5 + \
5 
# use the escape key '\' to continue your lines of 
        # code if they get too long
# Comments cannot be put in between line continuations

8.0

# Indexing Elements

In [41]:
"Friday" # How can we access the letter 'd'
desiredChar = "Friday"[3]
print(desiredChar)

# Syntax: "Name_of_variable"[index_of_element]

d

### Indexes start at 0, not 1. "Friday"[4] would get us 'a'

# Structure Your Code with Indentation

### Indentation MATTERS in Python since there are no brackets used to declare the scope of code.

In [42]:
def five(): # block of code #1
    x = 5
    return x

print (five()) # block of code #2

5

# Comparison Operators

In [43]:
10 == 20/2

True

In [44]:
10 != 10

False

!= is synonymous with "Not equal to"

Other comparison operators:
    
<, >, <=, <=

### Comparison Operators - Exercise #2

Verify that 5 multiplied by 3 is less than or equal to 5 to the power of 3.

In [45]:
5*3 <= 5**3

True

# Logical and Identity Operators

Logical/Boolean Operators: Not - And - Or

In [46]:
# and: checks whether the two statements are BOTH true
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [47]:
# or: checks whether at least one of the two statements is True
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [48]:
# not: returns the opposite of the given statement
print(not True)
print(not False)

False
True

In [49]:
# example
print(3 > 5 and 10 <= 20)
print(not(3 > 5 and 10 <- 20))

False
True

Order of Importance: 1. Not - 2. And - 3. Or

In [50]:
print(True and not True) # same as True and False
print(False or not True and True) # same as False or (False and True)
# which is the same as False or False -> False
print(True and not True or True)

False
False
True

Identity Operators: is and is not

Are used to determine whether a variable refers to the same object (not whether they have the same value)

In [51]:
x = [1, 2, 3]
y = x

print(x is y)
print(x == y)

y = [1, 2, 3]

print(x is y) # same values, different object
print(x == y)

True
True
False
True

# The IF Statement

SYNTAX

if condition:

    conditional code

In [52]:
# EXAMPLE
if 5 == 15/3:
    print("Hooray!")

Hooray!

SEMANTICS

If condition is true -> execute conditional code
Otherwise go to next block of code

### The IF Statement - Exercise #2

Assign 10 to the variable x and 25 to the variable y. In the same cell, create 2 conditional statements. Let the first one print "Both conditions are correct" if x is greater then 3 and y is greater than 13. Let the second one print "At least one of the conditions is false" if x is less than or equal to 3 or y is less than or equal to 13. Change the values assigned to x and y and re-run the cell to verify your code still works.

In [53]:
x = 7
y = 12
if x > 3 and y > 13:
    print("Both conditions are correct")
if x <= 3 or y <= 13:
    print("At least one of the conditions is false")

At least one of the conditions is false

# The ELSE Statement

Else statements follow if conditionals, creating another branch in case the conditional is not satisfied

In [54]:
x = 1

if x > 3:
    print("Case 1")
if x <= 3:
    print("Case 2")

Case 2

In [55]:
x = 1

if x > 3:
    print("Case 1")
else:
    print("Case 2")

Case 2

# The ELIF Statement

The elif keyword allows us to add more "else" cases. Specifically, it acts as an exclusive if statement meaning that it only gets checked if the previous condition was NOT met.

In [56]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    else:
        return "Equal"
    
# It's important to remember that the computer reads your code
# from top to bottom, so the order of your elif and else statements
# matters!

In [57]:
 # TESTING
print(compare_to_five(3))
print(compare_to_five(7))
print(compare_to_five(5))

Less
Greater
Equal

# A Note on Boolean Values

Remember, a conditional is either TRUE or FALSE. There is no in between. In fact, your computer works completely on 1's and 0's and off/on switches. So, Booleans are a lot more crucial than one might initially assume.

# Defining a Function

Use the keyword "def" to define a function

Syntax:

def function_name (parameters):

    function body
    
Don't forget simply defining a function won't do anything - you have to call it. Also, recall that INDENTATION MATTERS!

In [58]:
# defining the function
def simple():
    print("My first function")

# calling the function
simple()

My first function

# Creating a Function with a Parameter

A parameter is a placeholder for a value that the function will take in. An argument is the actual value or object passed into the function when called.

In [59]:
def plus_ten(a): # a is the parameter here
    return a + 10 
        # returns a value from the function to wherever
        # it was called (YOU CAN ONLY RETURN ONCE)
        
# plus_ten(argument)
        
plus_ten(2) # 2 is the argument here

# RECALL THAT JUPYTER AUTOMATICALLY OUTPUTS, hence why we don't
# have a print() anywhere, yet the output still appears

12

# Print vs Return | Variables within a Function

It is important to be able to distinguish the difference between print() and return.

Print simply outputs an object, while return actually gives a value to wherever it was called from.

You can have as many print() calls as you want in a function, but only ONE return, which will then exit the function (so any code after it will not be run).

Also, you can create variables within a function called "local variables." They are called this as they are local to the scope of the function, meaning that they cannot be accessed from outside the function.

In [60]:
def plus_ten(a):
    result = a + 10 # result is a local variable
    print("Here is the result:")
    return result
    print("You will not see this, read above")

print(plus_ten(2))

Here is the result:
12

### Another Way to Define a Function - Exercise #1

Define a function called exponentiation_exp_2(x) that states the value of the argument accompanied by the phrase "Raised to the power of 2:" and returns a value equal to its argument raised to the power of 2. This time, use a new variable, called result, in the body of the Function. Call the function with some argument to verify it works properly.

In [61]:
def exponentiation_exp_2(x):
    print(x)
    print("Raised to the power of 2:")
    result = x**2
    return result
    
print(exponentiation_exp_2(10))

10
Raised to the power of 2:
100

# Using a Function within a Function

We've been using a function this whole time - print()! So, we already have some experience with calling a function within a function. Below is another example.

In [62]:
# wage = hours worked * $25/hr
def wage(work_hours):
    return work_hours * 25

# manager gives you a $50 bonus
def with_bonus(work_hours):
    return wage(work_hours) + 50
    # calls wage(w) function, gets the value, adds 50, then returns the sum

wage(8), with_bonus(8)

(200, 250)

Quick Note: When a function calls itself, we are utilizing a process called recursion.

# Combining Conditional Statements and Functions

The concepts previously discussed are all tremendously important, and now it's time to begin combining them.

Suppose Johnny's mom would give him an extra 10 dollars if he managed to save $100 by the end of the week, but if he failed to do, so he would receive nothing from her.

In [63]:
def add_10(money_saved):
    if money_saved >= 100:
        money_saved += 10
        return money_saved
    else:
        return "Johnny should save more"
    
add_10(80)

'Johnny should save more'

# Creating Functions with Multiple Parameters

There is not much of a difference between having just one parameter or more, but just remember that the order of which the arguments are passed (10,3,2) vs (3, 2, 10) matters!

In [64]:
def subtract_bc(a,b,c):
    result = a - b * c
    print("Argument a equals", a)
    print("Argument b equals", b)
    print("Argument c equals", c)
    return result

subtract_bc(10,3,2)

Argument a equals 10
Argument b equals 3
Argument c equals 2

4

You can get around the order, though, by specifying the parameter the argument is linked to as shown below. However, you normally wouldn't know the variables being used as parameters from other people's code.

In [65]:
subtract_bc(b=3, a=10, c=2)

Argument a equals 10
Argument b equals 3
Argument c equals 2

4

# Notable Built-in Functions in Python

Besides type(), int(), float(), str(), and print(), there are plenty of useful built-in functions in Python.

max() returns the greatest value from a sequence of numbers

min() returns the lowest value from a sequence of numbers

abs() allows you to obtain the absolute value of its argument

sum() calculates the sum of all the elements in a list designated as an argument

round(x,y) returns the float of its argument (x) rounded to a specified number of digits (y) after the decimal point. Missing (y) rounds down to 0

pow(x,y) returns x to the power of y

len() returns the number of elemnts in an object

There are many others, but these were just a few examples.

In [66]:
max(10,20,30)

30

In [67]:
min(10,20,30)

10

In [68]:
z = -20
abs(z)

20

In [69]:
list_1 = [1,2,3,4]
sum(list_1)

10

In [70]:
round(3.1459,2)

3.15

In [71]:
round(3.629)

4

In [72]:
print(2**10)
pow(2,10)

1024

1024

In [73]:
len('Mathematics')

11

### Notable Built-In Functions Exercise 9

Create a function, called distance_from_zero(), that returns the absolute value of a provided single argument and prints a statement "Not possible" if the argument provided is not a number. To solve the task, use the type() function in the body of distance_from_zero().

Call the function with the values of -10 and "cat" to verify it works correctly.

In [74]:
def distance_from_zero(a):
    if type(a) == int or type(a) == float:
        x = abs(a)
        print(x)
    else:
        print("Not possible")
    return
    
distance_from_zero(-10)
distance_from_zero("cat")

10
Not possible

# Lists

A list is a type of sequence of data points - crucial in today's market. We've seen them a couple times before. Here's an example:

In [75]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

Importantly, use square brackets [] to denote a list instead of another type of sequence.

Extracting an index is similar to how we got 'd' from 'Friday.' Recall, indexes start from 0!

In [76]:
print(Participants[3])

Cate

In Python, we can index a list starting from the right by using a negative index as shown below:

In [77]:
print(Participants[-1])

Cate

Overwriting an element in the list can be done by simply reassigning that element to the new value:

In [78]:
Participants[3] = 'Maria'
print(Participants[3])
Participants

Maria

['John', 'Leila', 'Gregory', 'Maria']

To remove an item from a list, we can use the del keyword at that particular index.

In [79]:
del Participants[3]
Participants

['John', 'Leila', 'Gregory']

To add an item to a list, use the append() method. The word method and function are synonynmous in Python, but methods are built-in functions that are used on objects such as a list. Example: object.method()

In [80]:
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Gregory', 'Dwayne']

A similar result can be achieved by utilizing the extend() method. However, this time we will add a list onto our exisiting list.

In [81]:
Participants.extend(['George', 'Catherine'])
Participants

['John', 'Leila', 'Gregory', 'Dwayne', 'George', 'Catherine']

The len() function can be utilized on lists in Python to get their size.

In [82]:
len(Participants)

6

Quick note: Observe how in the built-in function len(), Participants is an argument. In contrast, it is the object in the syntax of initiating a method.

# List Slicing & More List Methods

In the future, when working with Python, you'll typically be working with data that is quite big. Many of the problems that you'll be dealing with, however, will only regard a small portion of said data. That's why list slicing is crucial.

In [83]:
Participants[1:3] # This gets elements 1 and 2 within the list
# The first index is exactly where we want to start, meanwhile the second is one above the index we want to capture

['Leila', 'Gregory']

If you disregard the first index, you'll slice from the beginning of the list.

In [84]:
Participants[:4]

['John', 'Leila', 'Gregory', 'Dwayne']

Similarly, extracting from a certain index to the end of the list would look like:

In [85]:
Participants[4:]

['George', 'Catherine']

To slice the last 2 indexes without knowledge of the length of the list, you could use a negative index.

In [86]:
Participants[-2:]

['George', 'Catherine']

Say you want to find the index of a certain value in your list. You could do the index() method:

In [87]:
Participants.index("Catherine")

5

Another useful fact about lists, is that you can contain a list within a list. Because of Python's dynamic typing, not all elements have to be of the same type either (mix-matching is allowed).

In [88]:
Newcomers = ['Joshua', 'Brittany']

Bigger_List = [Participants, Newcomers]
Bigger_List

[['John', 'Leila', 'Gregory', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

You could also sort a list by utilizing the sort() method and sort in descending order by utilizing the sort method with the argument reverse=True.

In [89]:
Participants.sort()
print(Participants)
Participants.sort(reverse=True)
print(Participants)

['Catherine', 'Dwayne', 'George', 'Gregory', 'John', 'Leila']
['Leila', 'John', 'Gregory', 'George', 'Dwayne', 'Catherine']

In [90]:
Bigger_List.append(['Stacey', 'Kamila'])
Bigger_List.sort() # this sorts the list by the first element of each inner list
Bigger_List

[['Joshua', 'Brittany'],
 ['Leila', 'John', 'Gregory', 'George', 'Dwayne', 'Catherine'],
 ['Stacey', 'Kamila']]

# Tuples

Tuples are another type of data sequences. However, in contrast with lists, they are immutable (unchangeable).

Syntactically, tuples differ from lists by using parenthesis () instead of square brackets []. Additionally, tuples are the default sequence in Python meaning that if you type a sequence without specification, it will be interpreted as a tuple.

In [91]:
Coordinates = (2, 3) # explicit declaration of a tuple
Favorite_Numbers = 23, 43, 12 # implicitly "packed" into a tuple
print(Coordinates)
print(Favorite_Numbers)

(2, 3)
(23, 43, 12)

In [92]:
a, b, c = 4, 5, 6 # tuple assignment
c

6

Similarly to lists, we can utilize brackets [] to access an element within a tuple.

In [93]:
Favorite_Numbers[1]

43

As you could with lists, you can contain these data sequences within each other.

In [94]:
List_1 = [Favorite_Numbers, Coordinates]
List_1

[(23, 43, 12), (2, 3)]

Tuples can definitely be useful to store comma separated values:

In [95]:
(FirstName, LastName) = "Cherry,Goldberg".split(",") # split method splits and assigns these comma separated values
print(FirstName)
print(LastName)

Cherry
Goldberg

An import functionality of tuples is that they can also be returned by a function.

In [96]:
def square_info(len):
    Area = len ** 2
    Perimeter = 4 * len
    return (Area, Perimeter)

square_info(5)

(25, 20)

# Dictionaries

Dictionaries represent another way of storing data. It stores key-value pairs. As for syntax, dictionaries utilizes curly braces {}.

In [97]:
dict = {"k1" : "cat", "k2" : "dog", "k3": "mouse", "k4" : "fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

Similarly to lists and tuples, we will still utilize square brackets [] to access elements within the list where the keys of the dictionary act as the indexes of the values.

In [98]:
print(dict['k1'])
print(dict['k3'])

cat
mouse

To add an element to a dictionary, one must simply establish a new key-value pair. For more experienced programmers, one may notice that dictionaries act almost indentically to hash-maps in C++.

In [99]:
dict['k5'] = 'bird'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'bird'}

Overwriting an existing variable follows the same syntax:

In [100]:
dict['k2'] = 'hamster'
dict

{'k1': 'cat', 'k2': 'hamster', 'k3': 'mouse', 'k4': 'fish', 'k5': 'bird'}

You can also store lists inside of dictionaries:

In [101]:
dept_workers = {"dept1" : "John", "dept2" : ["Macy, Grace, Carol"]}
dept_workers["dept2"]

['Macy, Grace, Carol']

You can also create an empty dictionary, and define your key-value pairs from there.

In [102]:
Team = {}
Team['Point Guard'] = "Nick"
Team['Shooting Guard'] = "Steph"
Team['Center'] = "Drake"
Team['Small Forward'] = "Eli"
Team['Power Forward'] = "Miguel"
print(Team)
print(Team["Center"])

{'Point Guard': 'Nick', 'Shooting Guard': 'Steph', 'Center': 'Drake', 'Small Forward': 'Eli', 'Power Forward': 'Miguel'}
Drake

In [103]:
print(Team.get("Coach")) # a perk of Python is that when utilizing the get() method on a dictionary 
# for an element that does not exist, it will return "None"

None

# For Loops

Iteration is a fundamental building block of all programs. It is the ability to execute certain code repeatedly.

In [104]:
even = [0,2,4,6,8,10,12,14,16,18,20]

for n in even: # for each number in the even list, our code will print the current number (n) it's on
    print(n, end = " "); 
    # this second argument indicates we want to print our output separated by 1 space

0 2 4 6 8 10 12 14 16 18 20

# While Loops and Incrementing

While loops work the same as for loops, however you must be careful to INCREMENT your flag condition.

In [105]:
x = 0
while x <= 20:
    print(x, end = " ")
    x += 2 # incrementing, synonymous with x = x + 2

0 2 4 6 8 10 12 14 16 18 20

# Create Lists with range() Function

Later in the course, we will have to randomize data points and lists with data points where we will need to utilize the range() function.

syntax: range(start, stop, step)
start = first number in the list
stop = the last value + 1
step = the distance between each two consecutive value in the list

stop is the only argument that is necessary

In [106]:
range(10) #  == range(0,10,1)
# returns a range OBJECT

range(0, 10)

We can use Python 3's built-in list() function to display the sequence as a list:

In [107]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Use Conditional Statements and Loops Together

To print the list of numbers of 2^0 up to 2^9:

In [109]:
for n in range(10):
    print(2**n, end = " ")

1 2 4 8 16 32 64 128 256 512

To print all the even numbers from 0 - 19, and print "Odd" for all the odd numbers:

In [110]:
for x in range(20):
    if x % 2 == 0: # if x is divisible by 2 --> x is even
        print(x, end = " ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [111]:
list_1 = [0, 1, 2, 3, 4, 5]

# abstracted method
for n in list_1:
    print(n, end = " ")
    
print() # new line

# indexing method

for index in range(len(list_1)): # gets the index
    print(list_1[index], end = " ")

0 1 2 3 4 5
0 1 2 3 4 5

# Conditional Statements, Functions, and Loops

A small program that utilizes functions, loops, and conditional statements to write the total amount of numbers in a list that have a value less than 20.

In [112]:
def count(numbers):
    total = 0 # rolling sum
    for x in numbers:
        if x < 20:
            total += 1
    return total

list_1 = list(range(1, 100))
print(count(list_1)) # should print 19 (1 - 19)

list_2 = [3, 8, 17, 19, 34, 28, 79]
print(count(list_2))

19
4

### Conditional Statements, Functions, and Loops Exercise

You are provided with the nums list. Complete the code in the cell that follows. Use a while loop to count the number of values lower than 20.

In [113]:
nums = [1,35,12,24,31,51,70,100]

def count(list):
    count = 0
    index = 0

    while index < len(list):
        if list[index] < 20:
            count += 1
        index += 1
    return count

print(count(nums))

2

# Iterating Over Dictionaries

Consider the following scenario of buying groceries at a supermarket:

In [114]:
prices = {
    "box_of_spaghetti": 4,
    "lasagna" : 5,
    "hamburger": 2
}

quantity = {
    "box_of_spaghetti": 6,
    "lasagna" : 10,
    "hamburger": 0
}

In order to determine the total amount of money spent on groceries, we need to find a way to multiply quantity and prices of the items bought.

In [115]:
money_spent = 0 # rolling sum

for i in prices:
    money_spent += prices[i] * quantity[i]
    
print(money_spent)

74

It doesn't matter which dictionary you loop through, because each dictionary contains the SAME KEYS.

#### Python Basics following Udemy's "The Data Analyst Course: Complete Data Analyst Bootcamp"

Written by Sebastian Yepez